@media (max-width: 700px) {
   body .container:before {
      width: 360px;
      height: 1100px;
   }
   body .container p {
      width: 35%;
   }
   body .container h2 {
      width: 35%;
   }
   body div #hidethis {
      width: 35%;
   }
}

*{
	font-family: arial;
	color: black;
}

img {
	float: right;
	padding: 20px;
   margin-top: 90px;
}

h1 {
	color: gray;
	font-family: 'Lato', sans-serif;
}

body div #hidethis {
   margin-right: 20px
}

#hidethis {
  display: none;
}

.container {
   border: 0px solid #DDDDDD;
   border-radius: 25px;
   width: 1000px;
   position: relative;
   margin: 0 auto;
   margin-top: 20px;
   /*background-color: white;*/
   /*opacity: .5;*/
}

.container:before{
   content: '';
   border: 1px solid #DDDDDD;
   border-radius: 25px;
   width: 950px;
   height: 900px;
   padding-right: 100px;
   position: absolute;
   background: white;
   opacity: .8;
   z-index: -1;
}


.innercontainer {
   border: 0px;
   padding: 20px;
   position: relative;
   /*z-index: 1;*/
}

body{
	background-image: url("../images/sfballet_groupshot_edit_large.jpg");
	background-size: 100%;
   background-size: cover;
}


.tag {
   float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: #92AD40;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}